<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/login.css}"> <!-- Link to custom CSS file -->
</head>
<body>
<div class="login_form">
    <!-- Login form container -->
    <form th:action="@{/login}" method="post">
        <h2>Login</h2>

        <!-- Email input box -->
        <div class="input_box">
            <label for="email">Username</label>
            <input type="text" id="email" name="username" placeholder="Enter username" required />
        </div>

        <!-- Password input box -->
        <div class="input_box">
            <div class="password_title">
                <label for="password">Parol</label>
            </div>

            <input type="password" id="password" name="password" placeholder="Enter your password" required />
        </div>

        <!-- Login button -->
        <button type="submit">Log In</button>
    </form>
</div>
</body>
</html>
